<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
  <div class="gf-form-inline">

    <div class="gf-form max-width-8">
      <select class="gf-form-input" ng-model="ctrl.target.type" ng-options="f as f for f in ['table', 'timeserie']"></select>
    </div>

    <label class="gf-form-label">Device</label>
    <div class="gf-form" ng-if="ctrl.target.rawQuery">
      <textarea class="gf-form-input" rows="5" ng-model="ctrl.target.scada" spellcheck="false" ng-blur="ctrl.onChangeInternal_scada()" />
    </div>
    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form">
        <gf-form-dropdown model="ctrl.target.scada"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.getDeviceOptions($query)"
          on-change="ctrl.onChangeInternal_scada()">
      </gf-form-dropdown>
      </div>
    </div>

    <label class="gf-form-label">Plugin</label>
    <div class="gf-form" ng-if="ctrl.target.rawQuery">
      <textarea class="gf-form-input" rows="5" ng-model="ctrl.target.device" spellcheck="false" ng-blur="ctrl.onChangeInternal_device()" />
    </div>
    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form">
        <gf-form-dropdown model="ctrl.target.device"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.getPluginOptions($query)"
          on-change="ctrl.onChangeInternal_device()">
      </gf-form-dropdown>
      </div>
    </div>

    <label class="gf-form-label">Sensor</label>
    <div class="gf-form" ng-if="ctrl.target.rawQuery">
      <textarea class="gf-form-input" rows="5" ng-model="ctrl.target.tag" spellcheck="false" ng-blur="ctrl.onChangeInternal_tag()" />
    </div>
    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form">
        <gf-form-dropdown model="ctrl.target.tag"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.getSensorOptions($query)"
          on-change="ctrl.onChangeInternal_tag()">
      </gf-form-dropdown>
      </div>
    </div>

  </div>
</query-editor-row>
